@import '@infomat/uikit/src/themeUtils';

.label {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	color: themeColor(--mui-palette-slate-900);
}

.table {
	border: 1px solid themeColor(--mui-palette-slate-200);
	overflow-y: auto;
	width: 100%;
	height: 100%;
	flex: 1;
	border-radius: 6px;
	margin: 16px;
}

.header {
	padding: 8px 16px;
	align-items: center;
	max-height: 50px;
}

.title {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	color: '#717179';
}

.container {
	border-top: 1px solid themeColor(--mui-palette-slate-200);
	overflow-y: auto;
	width: 100%;
	height: 100%;
	flex: 1;
}

.filter {
	padding: 0 0 30px 30px;
	display: flex;
	align-items: center;
}

.select {
	width: 330px;
}

.resetButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	border-radius: 6px;
	margin: 0 10px;
	cursor: pointer;
	transition: none 0.3s;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
}
