@import '@infomat/uikit/src/themeUtils';

.multiline {
	height: 164;
}

.title {
	margin-left: 8px;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: themeColor(--mui-palette-slate-700);
}

.delete {
	text-decoration: none;
}
