@import '@infomat/uikit/src/themeUtils';

.container {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid themeColor(--mui-palette-slate-200);
}

.box {
	display: flex;
	width: 30px;
	height: 30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 200px;
	position: relative;
	margin-right: 14px;

	.layout {
		width: 30px;
		height: 30px;
		border-radius: 200px;
	}

	.icon {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 7px;
		top: 7px;
	}
}

.label {
	flex: 1;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: themeColor(--mui-palette-slate-900);
}
