@import '@infomat/uikit/src/themeUtils';

.label {
	color: themeColor(--mui-palette-text-primary);
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	margin-bottom: 6px;
}

.select {
	padding: 8px 12px;
	display: flex;
	align-items: center;
	border: 2px solid;
	border-radius: 6px;
	border: 1px solid #cbd5e1;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	.itemLabel {
		margin-left: 8px;
		color: themeColor(--mui-palette-text-primary);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	&:hover {
		border: 1px solid;
	}
}

:global(.MuiMenuItem-root) {
	padding: 6px 12px;
	border-radius: 6px;
	margin: 0 5px 5px 5px;

	&:hover {
		background-color: themeColor(--mui-palette-primary-gradient-end);
	}

	&:global(.Mui-selected) {
		background-color: themeColor(--mui-palette-primary-gradient-end);

		&:hover {
			background-color: themeColor(--mui-palette-primary-gradient-end);
		}
	}
}

:global(.MuiInputLabel-root) {
	top: -7px;
	color: themeColor(--mui-palette-text-disabled);

	&:global(.Mui-focused) {
		color: themeColor(--mui-palette-text-disabled);
	}
}

.item {
	display: flex;
	align-items: center;
	width: 100%;

	.itemLabel {
		color: themeColor(--mui-palette-text-primary);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin-left: 8px;
		user-select: none;
	}

	&.isSelect {
		background-color: themeColor(--mui-palette-primary-gradient-end);
		&:hover {
			background-color: themeColor(--mui-palette-primary-gradient-end);
		}

		&:global(.Mui-selected) {
			background-color: themeColor(--mui-palette-primary-gradient-end);

			&:hover {
				background-color: themeColor(--mui-palette-primary-gradient-end);
			}
		}
	}
}

.placeholder {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: #94a3b8;
}

.root {
	:global(.MuiPopperUnstyled-root) {
		width: 100%;
		z-index: 1000;
	}
}

.boxLoading {
	width: 100%;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
